/* add css for index.html */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#city-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

#section-city-design {
    border: 1px solid black;
    margin-top: 25px;
}

#section-bottom {
    padding-top: 100px;
}

#section-middle {
    padding-top: 50px;
}